.terminal-window {
  max-width: 65rem;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.terminal-header {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.terminal-header .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.dot.red {
  background-color: #ff5f56;
}

.dot.yellow {
  background-color: #ffbd2e;
}

.dot.green {
  background-color: #27c93f;
}

.terminal-body {
  background-color: #1e1e1e;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

/* Features */
.features-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.feature {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.feature .icon {
  background-color: #f0f0f0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature .icon svg {
  height: 50%;
  width: 50%;
  fill: #333;
}

.feature .title {
  font-weight: bold;
  margin: 1rem 0;
}

.feature .description {
  font-size: 0.9rem;
  color: #666;
}

.icon {
  font-size: 3rem;
  text-align: center;
}

.step h3 {
  text-align: center;
  margin-bottom: 0.75rem;
}

.step p {
  text-align: center;
}

.upcoming-features {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
}

.upcoming-features .title {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #333;
}

.upcoming-features .description {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #666;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.feature {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%;
  max-width: 30%;
  transition: transform 0.3s;
  text-align: left;
}

.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status.planned {
  background-color: #007bff;
}

.feature h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .feature-list {
    flex-direction: column;
  }

  .feature {
    max-width: 100%;
  }
}

.faq-section {
  max-width: 1200px;
  margin: 50px auto;
  padding: 50px 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  text-align: center;
}

.faq-section .title {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #333;
}

.faq-section .description {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #666;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.faq-item:hover {
  background: #f0f4f8;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  color: #333;
}

.icon-toggle {
  font-size: 1.5em;
  color: #4caf50;
  transition: transform 0.3s;
}

.answer {
  display: none;
  margin-top: 10px;
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

.faq-item.active .answer {
  display: block;
}

.faq-item.active .icon-toggle {
  transform: rotate(45deg); /* Changes "+" to an "x" */
}
