.terminal-window {
  max-width: 65rem;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.terminal-header {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.terminal-header .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.dot.red {
  background-color: #ff5f56;
}

.dot.yellow {
  background-color: #ffbd2e;
}

.dot.green {
  background-color: #27c93f;
}

.terminal-body {
  background-color: #1e1e1e;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

/* Features */
.features-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.feature {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.feature .icon {
  background-color: #f0f0f0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature .icon svg {
  height: 50%;
  width: 50%;
  fill: #333;
}

.feature .title {
  font-weight: bold;
  margin: 1rem 0;
}

.feature .description {
  font-size: 0.9rem;
  color: #666;
}

.icon {
  font-size: 3rem;
  text-align: center;
}

.step h3 {
  text-align: center;
  margin-bottom: 0.75rem;
}

.step p {
  text-align: center;
}
